@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-gray-800 text-gray-200 select-none;
}

a {
	@apply text-blue-400 underline;
}

.button {
	@apply text-white no-underline;
	@apply text-center bg-blue-800 hover:bg-blue-600 rounded-md shadow-lg flex-grow p-1 my-2;
}

/* Scrollbar */

::-webkit-scrollbar {
	@apply w-2;
}

::-webkit-scrollbar-thumb {
	@apply bg-slate-600 rounded-full;
}

::-webkit-scrollbar-track {
	@apply bg-slate-800;
}
